*{
	padding-top: 0;
	margin: 0;
	list-style: none;
}

.site{
	display: flex;
	flex-direction: column;
}
.headline-desktop {
	display: none;
}

.headline-mobile{
	color: white;
	text-align: center;
	text-shadow: 2px 0 black;
	margin-top: -95px;
}

.perfil{
	display: flex;
    width: 100vw;
    height: 100vh;
}

/*NÃO ESQUECE DISSO!!!! */
.image {
	background-image: url(img.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 100%;
}

.social-links{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 20px;
	color: rgba(54, 71, 78, .7);
	size: 30px;
}

.fa-stack:hover {
	color: #36474E;
}

.meta {
	text-align: center;
	margin: 10px;
}

.interests{
	color: rgb(119, 119, 119);
	size: 14px;
	weight: '400';
}

.itens{
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-left: 0;
	margin-left: 10vw;
	margin-right: 10vw;
}

.itens li{
	margin-right: 10px;
}

.biografia{
	margin-top: 15vw;
}

p{
	margin: 10px;
}
.bio{
	margin-left: 5vw;
}

@media (min-width: 600px){	
	/*DESKTOP*/

	*{
		padding: 0;
		margin: 0;
	}

	#site{
		display: flex;
		flex-direction: row;
		font-family: 'Roboto Mono', monospace;
	}

	.headline-mobile{
		display: none;
	}

	.perfil{
		display: flex;
    	width: 60vw;
    	height: 100vh;
	}


	.biografia{
		display: flex;
		flex-direction: column;
	}

	.interests{
		justify-content: flex-start;
	}

	.itens{
		margin-left: 5.5vw;
		flex-wrap: wrap;
	}

	.itens li{
		margin-right: 10px;
		flex-wrap: nowrap;	

	}

	.meta {
		text-align: left;
		margin-left: 5.5vw;
	}

	.headline-desktop{
		display: inline;
		margin-left: 5.8vw;
	}
	
}
